.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.checkout-btn{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 5px;
    padding: 10px 40px;
    border-radius: 2px;
}
.subtotal__gift {
    display: flex;
    align-items: center;
}
.checkbox{
    margin-right: 5px;
}